<!DOCTYPE html>

<html lang="">
<head>
<title>Diet Carver</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/assets/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" background="static/assets/images/demo/backgrounds/home-bg.jpg">
<div class="wrapper row1" style ="background-image:url('static/assets/images/demo/backgrounds/home-bg.jpg')" >
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">Diet Carver</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="clear">


        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h6 class="heading">About Us</h6>
      <p>All the Developers are members of amFOSS</p>
      
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group btmspace-180">
        <li class="one_third">
          <figure><img src="static/assets/images/demo/aman.jpg" style="width: 200px; height: 200px;">
            <figcaption>
              <h6 class="heading">Aman Kumar Singh</h6>
              <p></p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><img src="static/assets/images/demo/geo.jpg" style="width: 200px; height: 200px;" alt="">
            <figcaption>
              <h6 class="heading">Geo Jolly Cheeramvelil</h6>
              <p></p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><img src="static/assets/images/demo/gopi.jpg" style="width: 200px; height: 200px;" alt="">
            <figcaption>
              <h6 class="heading">Gopi Krishna</h6>
              <p></p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><img src="static/assets/images/demo/jithin.jpg" style="width: 200px; height: 200px;" alt="">
            <figcaption>
              <h6 class="heading">Jithin John</h6>
              <p></p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    
<!-- JAVASCRIPTS -->
<script src="static/assets/layout/scripts/jquery.min.js"></script>
<script src="static/assets/layout/scripts/jquery.backtotop.js"></script>

</body>
</html>